body {
  background-color: #344d67;
  font-family: Verdana, Helvetica, sans-serif;
}
.title,
h2,
h3,
p {
  text-align: center;
  color: white;
}

h3 {
  text-align: left;
}

li,
a {
  color: #fff6bf;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #00005c;
}

img {
  height: auto;
  width: 800px;
}
